*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
!releases/app-latest.apk
!cloud-server/apk/*.apk
*.ap_
android-sdk/
*.zip
tools/
build-tools.zip
platform.zip
platform-34.zip
*.bat
